<div class="container corpo" id="buscafilme">

  <div class="row justify-content-center">
    <div [formGroup]="filterForm" class="col-12 col-md-10 col-lg-8">
      <!--BARRA DE PESQUISA-->
      <div class="card card-sm pesquisa">
        <div class="card-body row no-gutters align-items-center">
          <div class="col-auto">
            <i class="fas fa-search h4 text-body"></i>
          </div>
          <div class="col">
            <input class="form-control form-control-lg form-control-borderless" formControlName="descricao" type="search"
              placeholder="Use palavras chaves para buscar filmes">
          </div>

          <div class="col-auto">
            <button class="btn btn-lg btn-secondary" type="submit" (click)="buscarFilmes()">Buscar</button>
          </div>
        </div>
      </div>
      <!--ESCOLHA DE GENERO-->
      <div class="form-row" style="margin-top: 1rem;">
        <div class="form-group col-6 col-md-6">
          <label for="exampleFormControlSelect1" style="color: #fff;">Gênero do Filme</label>
          <select
            id="generoSelect"
            class="form-control"
            [(ngModel)]="resGeneros" (change)="setGenero($event)">
            <option *ngFor="let genero of resGeneros" [value]="genero.id">{{ genero.name }}</option>
          </select>
        </div>

        <div class="form-group col-6 col-md-6">
          <label for="exampleFormControlSelect1" style="color: #fff;">Ano do Filme</label>
          <input type="number" min="1895" max="2020" class="form-control" formControlName="ano" placeholder="Ex. 2000">
        </div>
      </div>
    </div>
  </div>

  <!--{{filterForm.value|json}}-->
  <!--AREA DOS CARDS BUSCA-->
  <div class="row resultadobusca">
    <div class="cardbusca col col-sm-4 col-md-4 col-lg-4" *ngFor="let movie of
      copiaMovies">
      <div class="card" style="width: 22rem;">
        <h4 class="card-title" id="ptitulo">{{movie['title']}}</h4>
        <img src="https://image.tmdb.org/t/p/w500{{movie['backdrop_path']}}"
          class="card-img-top" alt="...">
        <div class="card-body">

          <h6 class="card-text">{{movie['release_date']|date:'dd/MM/yyyy'}}</h6>
          <p class="card-text" id="bsinopse">{{movie['overview']}}</p>

          <h5 class="card-text" >Gêneros:</h5>
          <div class="row container generostags" >
            <div *ngFor="let genero of movie['genre_ids']">
              <div class="taggenerobusca">
                {{genero['name']}}
              </div>
            </div>
          </div>

          <a href="#" class="btn btn-warning btn-lg btn-block"
            data-toggle="modal"
            data-target=".bd-example-modal-lg"
            (click)="getMovieDetails(movie['id'])">Ler Mais</a>
        </div>
      </div>
    </div>
  </div>

  <!--PAGINAÇÃO-->
  <nav aria-label="Page navigation example" style="padding-bottom: 2rem;">
    <ul class="pagination justify-content-center">
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Anterior</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">Proximo</a>
      </li>
    </ul>
  </nav>
</div>

<!----MAIS POPULARES---->
<div class="container-fluid populares" id="buscapopulares">
  <h1>POPULARES</h1>

  <!--AREA DOS CARDS POPULARES-->
  <div class="row resultadopopulares">
    <div class="col col-sm-12 col-md-4 col-lg-3" *ngFor="let movie of resPopularMovies['results']">
      <div class="card cardpopulares">
        <img src="https://image.tmdb.org/t/p/w500{{movie['backdrop_path']}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{movie['title']}}</h5>
          <h6 class="card-text">{{movie['release_date']|date:'dd/MM/yyyy'}}</h6>
          <p class="card-text" id="psinopse">{{movie['overview']}}</p>
          <a id="meuInput"  class="btn btn-warning btn-lg btn-block" data-toggle="modal"
          data-target=".bd-example-modal-lg" (click)="getMovieDetails(movie['id'])" >Ler Mais</a>
        </div>
      </div>
    </div>
  </div>
</div>



<!--MODAL DE LER MAIS-->

<div id="myModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{resDetalhes["title"]}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

        <div class="container" style="margin-top: 1rem;">
          <div class="row">
            <div class="col-12 col-sm-12 col-md-5 col-lg-5">
              <img src="https://image.tmdb.org/t/p/w500{{resDetalhes['poster_path']}}" class="card-img-top" alt="...">
            </div>
            <div class="col-12 col-sm-12 col-md-7 col-lg-7">

              <h4>Titulo Original: {{resDetalhes["original_title"]}} </h4>
              <h5>Data de Lançamento: {{resDetalhes['release_date']|date:'dd/MM/yyyy'}}</h5>
              <h5>Gêneros:
                <div class="row container" >
                  <div *ngFor="let genero of resDetalhes['genres']">
                    <div class="taggenero">
                      {{genero['name']}}
                    </div>
                  </div>
                </div>

              </h5>


              <h5>Sinopse:</h5>
              <p>{{resDetalhes['overview']}}</p>



            </div>

            <div class="container-fluid scrolling-elenco">
              <h6>Elenco:</h6>
              <div class="row flex-row flex-nowrap " >
                <div *ngFor="let movie of resDetalhes['elenco']">
                  <div class="card" style="width: 13rem;">
                    <img src="https://image.tmdb.org/t/p/w500{{movie['profile_path']}}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">{{movie['name']}}</h5>
                      <p class="card-text" style="text-align: center;">{{movie['character']}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="container-fluid scrolling-elenco">
              <h6 style="margin-top: 1rem;" >Equipe técnica:</h6>
              <div class="row flex-row flex-nowrap " >
                <div *ngFor="let movie of resDetalhes['equipeTecnica']">
                  <div class="card" style="width: 13rem;">
                    <img src="https://image.tmdb.org/t/p/w500{{movie['profile_path']}}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">{{movie['name']}}</h5>
                      <p class="card-text" style="text-align: center;">{{movie['job']}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>




          </div>

            <div class="avaliacoes">
              <h5><b>Avaliação no The Movie DB</b></h5>
              <div class="row">
                <div class="col col-sm-4 col-md-4 col-lg-4">
                  <p><b>Popularidade</b></p>
                </div>
                <div class="col col-sm-4 col-md-4 col-lg-4">
                  <p><b>Nota</b></p>
                </div>
                <div class="col col-sm-4 col-md-4 col-lg-4">
                  <p><b>Total de votos</b></p>
                </div>
              </div>
              <div class="row">
                <div class="col col-sm-4 col-md-4 col-lg-4">
                  <p>{{resDetalhes['popularity']}}</p>
                </div>
                <div class="col col-sm-4 col-md-4 col-lg-4">
                  <p>{{resDetalhes['vote_average']}}</p>
                </div>
                <div class="col col-sm-4 col-md-4 col-lg-4">
                  <p>{{resDetalhes['vote_count']}}</p>
                </div>
              </div>
            </div>

          </div>



        <div class="modal-footer">
          <button type="button" class="btn btn-warning" data-dismiss="modal">Fechar</button>
        </div>

    </div>
  </div>
</div>
