

<div class="divbackground">
  <h1 class="textointro">Plataforma de pesquisa de filmes para cinéfilos</h1>
</div>

<div class="container corpo" id="buscafilme">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8">
      <form class="card card-sm" >
            <div class="card-body row no-gutters align-items-center">
                <div class="col-auto">
                    <i class="fas fa-search h4 text-body"></i>
                </div>
                <div class="col">
                    <input class="form-control form-control-lg form-control-borderless" type="search" placeholder="Use palavras chaves para buscar filmes">
                </div>
                <div class="col-auto">
                    <button class="btn btn-lg btn-secondary" type="submit">Buscar</button>
                </div>
            </div>
        </form>
      </div>
    </div>

    <!--AREA DOS CARDS-->
    <div class="row resultadobusca">
      <div class="col col-sm-4 col-md-4 col-lg-4">
        <div class="card" style="width: 18rem;">
          <img src="/assets/movie.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Nome do Filme</h5>
            <p class="card-text">Sinopse do Filme</p>
            <a href="#" class="btn btn-warning btn-lg btn-block">Ler Mais</a>
          </div>
        </div>
      </div>
    </div>


</div>

<!-- CONTATO -->
<div>

</div>


<router-outlet></router-outlet>
