/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/indigo-pink.css';

/*MENU*/

.navbar-brand {
  font-size: 1.8rem;
}

.nav-link{
  font-size: 1.2rem;
}


/*BACKGROUND*/
.bodysite{
  background-color:rgba(52,58,62,0.8);
}

.divbackground{
  background-size: auto;
  background-image: url("/assets/wallpaper2.jpg");
  background-repeat: no-repeat;
  padding-top: 20rem;
  padding-bottom: 20rem;
  color: goldenrod;
  font-size: x-large;
  text-shadow: -1px 0 black, 0 1px black,
      1px 0 black, 0 -1px black
}

.textointro{
  text-align: center;
  align-items: center;
  margin-top: -2rem;
  margin-bottom: -10rem;

}

.textointro form{
  padding: 0.5rem;
  size: 18px;
}

/*corpo do site*/

.corpo{
  margin-top: -15rem;
  background-color: rgba(175,139,16, 0.95);
  height: auto;
  padding-top: 4rem;
  padding-right: 2rem;
  padding-left: 2rem;

}

.pesquisa{
  margin-top: 2rem;
}

/*BUSCA*/
.form-control-borderless {
  border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

.resultadobusca{
  margin-top: 2rem;
  align-items: center !important;
  align-self: center;

}

.cardbusca{
  align-items: center;
  align-self: center;
  margin-bottom: 1rem;
  height: 50rem;
}

.generostags{
  height: 5rem;
}

#bsinopse{
  overflow:auto;
  height: 15rem;
}

.taggenerobusca{
  background-color: rgba(103, 100, 108, 0.8);
  margin: 0.2rem;
  color: white;
  padding: 0.2rem;
}

/*POPULARES*/


.populares{
  height: auto;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 2rem;
}

.populares h1{
  font-size: 40px;
  margin-top: 2rem;
  color: goldenrod;
  text-align: center;
  text-shadow: -1px 0 black, 0 1px black,
      1px 0 black, 0 -1px black
}

.resultadopopulares{
  margin-top: 1.5rem;
  align-items: center !important;
  text-align: center;
  align-content: center;
}

.cardpopulares{
  width: 25rem;
  margin-bottom: 1.2rem;
}

#psinopse{
  overflow:auto;
  height: 20rem;
}

.card-title{
  height: 3rem;
  text-align: center;
}

#ptitulo{
  padding: 0.5rem;
}

/*FOOTER*/

.rodape{
  height: 4rem;
  background-color: rgba(52,58,62,1);
  padding: 1.5rem;
  color: #fff;
}

.rodape i{
  font-size: 32px;
}

/*MODAL DETALHES*/
.avaliacoes{
  background-color: rgba(175,139,16, 0.95);
  text-align: center;
  color: #FFF;
  padding: 1rem;
  margin: 1rem;
  font-size: 18px;
}

.taggenero{
  background-color: rgba(175,139,16, 0.95);
  text-align: center;
  color: #FFF;
  padding: 1rem;
  margin: 1rem;
}

.elenco {
  white-space: nowrap;
  display: inline-block;
  min-height: 220px;
}

.scrolling-elenco {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  margin-top: 1rem;

  .card {
    display: inline-block;
    margin: 1rem;
  }
}


/* RESOLUÇÃO CELULAR */
@media (max-width: 700px) {

/*POPULARES*/


.resultadopopulares{
  margin-top: 0.2rem;
}

.cardpopulares{
  width: 20rem;
  margin-bottom: 0.8rem;
}

.pesquisa.col-auto{
  display: none;
}

/*FOOTER*/

.rodape{
  height: 10rem;
  background-color: rgba(52,58,62,1);
  padding: 1.5rem;
  color: #fff;
}

.rodape a{
  font-size: 28px;
  text-align: end !important;
}

.redessociais{
  text-align: center;
  align-items: center;
}

.avaliacoes p{
  font-size: 12px;
}

.avaliacoes h4{
  font-size: 18px;
}

.avaliacoes h5{
  font-size: 16px;
}

}

/*Scroll Deslizante no Menu*/

html{
  scroll-behavior: smooth;
}

.header{
 height: 300px;
 background-color:#c01313;
}
.main{
 height: 500px;
 background-color:#3614ce;
}
.footer{
  height: 200px;
  background-color:#13c047;
}

.link{
 color:#FFF;
 text-decoration:none;
}


